body {
  background-color: #1e00fe;
  color: green;
  cursor: url(cursor.png), pointer;
}

body h1 {
	text-shadow: 3px 3px #00ff00;
	color: white;
	
}

a {
	text-shadow: 5px 6px #800080;
	color: orange;
}

.swag {
    text-align: center;
    color: red;
    font-family: "Comic Sans MS";
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
  color: red;
  font-family: "Comic Sans MS";
}

.center-buttons {
   text-align: center;
 }


.progress-container {
  position: relative;
}

.progress-labels {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.progress-label {
  font-size: 12px;
  color: #555;
}

.volume-slider-container {
  margin-top: 20px;
}

.spin-text {
  display: inline-block;
  animation: circularTilt 4s linear infinite;
}

@keyframes circularTilt {
  0% {
    transform: perspective(400px) rotateX(0deg) rotateY(0deg) translateZ(0);
  }
  50% {
    transform: perspective(400px) rotateX(180deg) rotateY(180deg) translateZ(0);
  }
  100% {
    transform: perspective(400px) rotateX(360deg) rotateY(360deg) translateZ(0);
  }
}
